In [1]:
#import libraries 
from bs4 import BeautifulSoup as bs
import pandas as pd
import requests
import json
import datetime 
import sqlalchemy
import random
import numpy as np

In [6]:
#create dictionary with aiports, airport code and the unique id for each
data = { 'city_id' : [3, 3, 3, 3, 3, 1, 2, 4,5],
    'airport': [
        'Heathrow',
        'Gatwick',
        'Luton',
        'Stansted',
        'Southend',
        'Berlin Brandenburg Airport',
        'Hamburg Airport',
        'Manchester Airport',
        'Barcelona'
    ],
    'airport icao': [
        'EGLL',
        'EGKK',
        'EGGW',
        'EGSS',
        'EGMC',
        'EDDB',
        'EDDH',
        'EGCC',
        'LEBL'
    ]
}

#assign dictionary to airports dataframe
airports = pd.DataFrame(data)

In [7]:
airports

   city_id                     airport airport icao
0        3                    Heathrow         EGLL
1        3                     Gatwick         EGKK
2        3                       Luton         EGGW
3        3                    Stansted         EGSS
4        3                    Southend         EGMC
5        1  Berlin Brandenburg Airport         EDDB
6        2             Hamburg Airport         EDDH
7        4          Manchester Airport         EGCC
8        5                   Barcelona         LEBL

In [8]:
#create connection to MySQL
schema="gans"
host="127.0.0.1"
user="root"
password="LexiHarley0323"
port=3306
con = f'mysql+pymysql://{user}:{password}@{host}:{port}/{schema}'

In [9]:
#create the airports table in MySQL
airports.to_sql('airports', 
              if_exists='append', 
              con=con, 
              index=False)

9