In [9]:
#import libraries
from bs4 import BeautifulSoup as bs
import pandas as pd
import requests
import json
import datetime 
import sqlalchemy
import random
import numpy as np

#City
#create function
def get_city(cities):
    #create the dataframe
    city = pd.DataFrame(columns=["city_id", "city_name", "country"])
    
    
    #create a for loop to estract the required information for each city
    for city_url in cities:
        r = requests.get(city_url)
        soup = bs(r.content, 'html.parser')
        city_name = soup.find("span", class_="mw-page-title-main").string
        country = soup.find("td", class_="infobox-data").string


        city_to_append = pd.DataFrame({
            "city_name": [city_name],
            "country": [country]
        })
        city = pd.concat([city, city_to_append], ignore_index=True)
        
        
        #create a unique id for each city  
        city['city_id'] = city['city_name'].map({'Berlin': 1, 'Manchester': 2, 'Barcelona': 3})
    
    #update the data format
    city['city_id'] = pd.to_numeric(city['city_id'])
    
    
    return city

#urls for each city wikipedia
cities = [
    "https://en.wikipedia.org/wiki/Berlin",
    "https://en.wikipedia.org/wiki/Manchester",
    "https://en.wikipedia.org/wiki/Barcelona"
]

#assign the function to the city dataframe
city = get_city(cities)

In [10]:
#assign the function to the city dataframe
city = get_city(cities)
city

   city_id   city_name         country
0        1      Berlin         Germany
1        2  Manchester  United Kingdom
2        3   Barcelona           Spain

In [4]:
#create connection to MySQL
schema="gans"
host="127.0.0.1"
user="root"
password="LexiHarley0323"
port=3306
con = f'mysql+pymysql://{user}:{password}@{host}:{port}/{schema}'

In [5]:
#create city table in MySQL
city.to_sql('city', 
              if_exists='append', 
              con=con, 
              index=False)

5